html {
    background-image: linear-gradient(#FC5E55, #FA4083);
 
}
body {
    background-image: url(images/lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #fff;
}
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #fff;
}
h1 {
    font-size: 3em;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgb(0 0 0 / 23%);
    font-family: 'Playfair Display', serif;
}
h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}
p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    font-family: 'Playfair Display', serif;

}

.nav-button {
    border: 1px solid #fff;
    padding: 10px 20px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-image: url("./images/background-card1.jpg");
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-image: url("./images/background-card2.jpg");
    min-height: 300px;
    width: 30%;

}

.card3 {
    background-image: url("./images/background-card3.jpg");
    min-height: 300px;
    width: 30%;

}
.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 23%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.cards p {
    padding: 10px 0;
    font-size: 0.8em;
    line-height: 1.4rem;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

.btnBook {
    background-color: #fff;
    color: #FA4083;
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 23%);
}

a.btnBook {
    display: inline-block;
    font-family: 'Playfair Display', serif;
}


.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.tbox {
    border: 1px solid #fff;
    width: 47%;
    padding: 50px;
    margin-top: 50px;
    box-sizing: border-box;

}